<!-- Start Breadcrumbs -->
<div id="breadcrumbs">
    <a href="#">Home</a> &raquo;
    <a title="Portfolio" href="#">Gallery</a> &raquo;
    <span class="current">Items</span>
    <div class="clear"></div>
</div>
<!-- End Breadcrumbs -->
<!-- Start Page Title -->
<div class="PageTitle">
    <h1>New item</h1>
    <%= link_to 'Back', items_path %>
</div>
<!-- End Page Title -->
<!-- Start Content Wrapper -->
<div id="content_wrapper">
    <div class="box">
        <!-- View By Box -->
        <%= render 'form' %>
        <div class="clear"></div>
    </div>
</div>
<!-- End Content Wrapper -->




